# 1. Ambientes Virtuais Python
.venv/
venv/
env/

# 2. Arquivos Compilados do Python
__pycache__/
*.py[cod]
*$py.class

# 3. Banco de Dados e Dados Locais
data/*.db
data/*.csv
data/*.json

# 4. Compilação de Executáveis
build/
dist/

# 5. Configurações de Editor (VS Code)
.vscode/